.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;

  .main-header{
    height: 100px;
    background-color: $white;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;

    &__left-box {
      margin-left: 40px;

      &__group-name{
        color: $text-black;
        font-size: 20px;
        padding-top:35px;
      }

      &__member-list {
        color: $sub-text;
        font-size: 12px;
        padding-top: 15px;
        display: flex;
      }
    }

    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      right: 40px;
      font-size: 16px;
      border: solid 1px $btn-blue;
      position: absolute;

      a {
        color: $btn-blue; 
        text-decoration: none;
      }
    }
  }

  .messages{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 40px;

    .message {
      padding-bottom: 46px;

      &__info {
        margin-bottom: 10px;
        display: flex;

        &__talker {
          color: $text-black;
          font-size: 16px;
          font-weight: bold;
        }

        &__data {
          margin-left: 10px;
          color: $sub-text;
          font-size: 12px;
        }
      }

      &__text {
        margin-bottom: 10px;
        color: $message-grey;
        background-color: g;
        font-size: 14px;
      }
    }
  }
  
    .form {
      background-color: #d2d2d2;
      box-sizing: border-box;
      height: 90px;
      width: calc(100% - 300px);
      padding: 20px 50px 20px 40px;
      position: fixed;
      bottom: 0;
      left: 300px;
      z-index: 5;

      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
      }

      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
          cursor: pointer;
        }
        .hidden {
          display: none;
        }
      }
    
    
        &__submit {
        color: $white;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $btn-blue;
        width: 100px;
        height: 50px;
      }

  }
}